In [1]:
import pandas as pd

# Levanto las bases de datos

In [2]:
df_fixture = pd.read_csv('https://raw.githubusercontent.com/Havilongo/Proyecto-CoderHouse/main/copa_america2024_fixture.csv')
df_datos_recientes = pd.read_csv('https://raw.githubusercontent.com/Havilongo/Proyecto-CoderHouse/main/historial.csv', sep=';')
df_datos_historicos = pd.read_csv('https://raw.githubusercontent.com/Havilongo/Proyecto-CoderHouse/main/copa_america_resultados_historicos_data.csv')

In [3]:
df_fixture

               home     score               away  Year
0        Argentina    Match 1             Canada  2024
1             Peru    Match 2              Chile  2024
2             Peru   Match 10             Canada  2024
3            Chile    Match 9          Argentina  2024
4        Argentina   Match 17               Peru  2024
5           Canada   Match 18              Chile  2024
6          Ecuador    Match 4          Venezuela  2024
7           Mexico    Match 3            Jamaica  2024
8          Ecuador   Match 12            Jamaica  2024
9        Venezuela   Match 11             Mexico  2024
10          Mexico   Match 19            Ecuador  2024
11         Jamaica   Match 20          Venezuela  2024
12   United States    Match 5            Bolivia  2024
13         Uruguay    Match 6             Panama  2024
14          Panama   Match 13      United States  2024
15         Uruguay   Match 14            Bolivia  2024
16   United States   Match 21            Uruguay  2024
17         Bolivia   Match 22             Panama  2024
18        Colombia    Match 8           Paraguay  2024
19          Brazil    Match 7         Costa Rica  2024
20        Colombia   Match 16         Costa Rica  2024
21        Paraguay   Match 15             Brazil  2024
22          Brazil   Match 23           Colombia  2024
23      Costa Rica   Match 24           Paraguay  2024
24   Winner Group A  Match 25  Runner-up Group B  2024
25   Winner Group B  Match 26  Runner-up Group A  2024
26   Winner Group C  Match 27  Runner-up Group D  2024
27   Winner Group D  Match 28  Runner-up Group C  2024
28  Winner Match 25  Match 29    Winner Match 26  2024
29  Winner Match 27  Match 30    Winner Match 28  2024
30   Loser Match 29  Match 31     Loser Match 30  2024
31  Winner Match 29  Match 32    Winner Match 30  2024

In [4]:
df_datos_recientes

         home score      away  year
0      México   1-0   Bolívia  2024
1     Bolívia   1-0   Andorra  2024
2     Argelia   3-2   Bolívia  2024
3     Uruguay   3-0   Bolívia  2023
4     Bolívia   2-0      Perú  2023
..        ...   ...       ...   ...
371     Japón   4-1  Paraguay  2022
372      Perú   2-0  Paraguay  2022
373  Paraguay   3-1   Ecuador  2022
374    Brasil   4-0  Paraguay  2022
375  Paraguay   0-1   Uruguay  2022

[376 rows x 4 columns]

In [5]:
df_datos_historicos

           home score        away  Year
0    Venezuela    0–4      Brazil  1975
1    Venezuela    1–5   Argentina  1975
2       Brazil    2–1   Argentina  1975
3    Argentina   11–0   Venezuela  1975
4       Brazil    6–0   Venezuela  1975
..          ...   ...         ...   ...
366  Argentina    3–0     Ecuador  2021
367     Brazil    1–0        Peru  2021
368  Argentina    1–1    Colombia  2021
369   Colombia    3–2        Peru  2021
370  Argentina    1–0      Brazil  2021

[371 rows x 4 columns]

# Limpiando los datos

 ### Limpiando el fixture

In [6]:
#Eliminar espacios en los nombres de los registros 

df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [7]:
# Reviso si hay duplicados
df_fixture.duplicated().sum()

0

## Limpiando los datos recientes

In [8]:
df_datos_recientes['home'].unique()

array(['México', 'Bolívia', 'Argelia', 'Uruguay', 'Paraguay', 'Brasil',
       'Ecuador', 'Arabia Saudita', 'Uzbekistán', 'Perú', 'Colombia',
       'Venezuela', 'Estados Unidos', 'Trinidad y Tobago',
       'St. Kitts and Nevis', 'Canadá', 'Grenada', 'Países Bajos', 'Irán',
       'Inglaterra', 'Argentina', 'Indonesia', 'Polonia',
       'Emiratos Árabes Unidos', 'Italia', 'Jamaica', 'Panamá',
       'Guatemala', 'Haití', 'Camerún', 'Catar', 'España', 'Marruecos',
       'Croacia', 'Japón', 'Corea del Sur', 'Honduras', 'Suriname',
       'Costa Rica', 'Curacao', 'Martinique', 'Francia', 'Albania',
       'Chile', 'Eslovaquia', 'Ghana', 'CoreadelSur', 'Alemania',
       'EstadosUnidos', 'ArabiaSaudita', 'ElSalvador', 'Australia',
       'El Salvador', 'Costa de Marfil', 'Portugal', 'Siria', 'Malta'],
      dtype=object)

In [9]:
df_datos_recientes.shape

(376, 4)

In [10]:
#df_historical_data['score'] = df_historical_data['score'].str.strip()
df_datos_recientes['away'] = df_datos_recientes['away'].str.strip()
df_datos_recientes['home'] = df_datos_recientes['home'].str.strip()

In [11]:
# Reviso si hay nulos
df_datos_recientes.isnull().sum()

home     0
score    0
away     0
year     0
dtype: int64

In [12]:
#Drop los nulos
df_datos_recientes.dropna(inplace=True)

In [13]:
# Reviso si hay duplicados
df_datos_recientes.duplicated().sum()

101

In [14]:
df_datos_recientes.drop_duplicates(inplace=True)

In [15]:
df_datos_recientes['year'] = df_datos_recientes['year'].astype('int')

In [16]:
# Ordeno por anio
df_datos_recientes.sort_values(by='year', inplace=True)

In [17]:
df_datos_recientes

          home score                  away  year
353  Argentina   3-0             Venezuela  2022
111     Brasil   2-0                Serbia  2022
110     Brasil   1-0                 Suiza  2022
109    Camerún   1-0                Brasil  2022
108     Brasil   4-1         Corea del Sur  2022
..         ...   ...                   ...   ...
71     Jamaica   1-0  República Dominicana  2024
47   Argentina   3-0           El Salvador  2024
46   Argentina   3-1            Costa Rica  2024
309    Ecuador   0-2                Italia  2024
0       México   1-0               Bolívia  2024

[275 rows x 4 columns]

#### Agrego partidos que sucedieron en el ultimo tiempo

In [18]:
nuevo_dato = {'home': ['Argentina', 'Estados Unidos','Dominica','México','Francia','Montserrat','Chile','Grenada'], 
              'score': ['1-0', '1-5','2-3','2-3','0-0','1-3','3-0','0-3'], 
              'away': ['Ecuador', 'Colombia','Jamaica','Brasil','Canadá', 'Panamá','Paraguay','Costa Rica'], 
              'year' : [2024, 2024, 2024,2024,2024,2024,2024,2024]}

nueva_fila = pd.DataFrame(nuevo_dato)
df_datos_recientes = pd.concat([df_datos_recientes, nueva_fila], ignore_index=True)

In [19]:
df_datos_recientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   home    283 non-null    object
 1   score   283 non-null    object
 2   away    283 non-null    object
 3   year    283 non-null    int64
dtypes: int64(1), object(3)
memory usage: 9.0+ KB

In [20]:
# Chequeo como queda cada registro
df_datos_recientes.loc[49,]

home                   Paraguay
score                       1-0
away     Emiratos Árabes Unidos
year                       2022
Name: 49, dtype: object

In [21]:
df_datos_recientes['score'].unique()

array(['3-0', '2-0', '1-0', '4-1', '1-1', '0-1', '2-1', '1-4', '0-0',
       '0-3', '5-0', '0-5', '1-2', '5-1', '1-5', '2-2', '0-2', '3-1',
       '4-0', '2-3', '0-4', '7-0', '3-3', '2-4', '1-3', '6-4', '3-2',
       '6-0', '0-6', '7-1'], dtype=object)

## Limpiando los datos historicos

In [22]:
df_datos_historicos

           home score        away  Year
0    Venezuela    0–4      Brazil  1975
1    Venezuela    1–5   Argentina  1975
2       Brazil    2–1   Argentina  1975
3    Argentina   11–0   Venezuela  1975
4       Brazil    6–0   Venezuela  1975
..          ...   ...         ...   ...
366  Argentina    3–0     Ecuador  2021
367     Brazil    1–0        Peru  2021
368  Argentina    1–1    Colombia  2021
369   Colombia    3–2        Peru  2021
370  Argentina    1–0      Brazil  2021

[371 rows x 4 columns]

In [23]:
df_datos_historicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   home    371 non-null    object
 1   score   371 non-null    object
 2   away    371 non-null    object
 3   Year    371 non-null    int64
dtypes: int64(1), object(3)
memory usage: 11.7+ KB

In [24]:
# Cambio el nombre de la columna Year a year para que coincida con el otro data frame
df_datos_historicos = df_datos_historicos.rename(columns={'Year': 'year'})
df_datos_historicos['year'] = df_datos_historicos['year'].astype('int')

In [25]:
# Chequeo el nombre de los paises
print(df_datos_historicos['home'].unique())
print('+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+')
print(df_datos_historicos['away'].unique())

['Venezuela\xa0' 'Brazil\xa0' 'Argentina\xa0' 'Chile\xa0' 'Bolivia\xa0'
 'Peru\xa0' 'Colombia\xa0' 'Ecuador\xa0' 'Paraguay\xa0' 'Uruguay\xa0'
 'Mexico\xa0' 'United States\xa0' 'Japan\xa0' 'Honduras\xa0'
 'Costa Rica\xa0' 'Haiti\xa0' 'Jamaica\xa0' 'Panama\xa0' 'Qatar\xa0']
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
['\xa0Brazil' '\xa0Argentina' '\xa0Venezuela' '\xa0Peru' '\xa0Chile'
 '\xa0Bolivia' '\xa0Paraguay' '\xa0Colombia' '\xa0Ecuador' '\xa0Uruguay'
 '\xa0United States' '\xa0Mexico' '\xa0Costa Rica' '\xa0Japan'
 '\xa0Honduras' '\xa0Haiti' '\xa0Jamaica' '\xa0Panama' '\xa0Qatar']

In [26]:
# Los nombres de los paises estan en ingles y tienen algunos caracteres extras
# Primerlo elimino los caracteres extras 
df_datos_historicos['away'] = df_datos_historicos['away'].str.strip()
df_datos_historicos['home'] = df_datos_historicos['home'].str.strip()

In [27]:
# Chequeo el nombre de los paises
df_datos_historicos['home'].unique()

array(['Venezuela', 'Brazil', 'Argentina', 'Chile', 'Bolivia', 'Peru',
       'Colombia', 'Ecuador', 'Paraguay', 'Uruguay', 'Mexico',
       'United States', 'Japan', 'Honduras', 'Costa Rica', 'Haiti',
       'Jamaica', 'Panama', 'Qatar'], dtype=object)

> Los nombres de los paises estan en ingles, tengo que cambiarle a castellano para que coincida con el otro dataset

In [28]:
nombres_equipos = {'Brazil':'Brasil',
                   'Mexico':'México',
                   'Bolivia' : 'Bolívia',
                   'Japan' : 'Japón',
                   'Panama' : 'Panamá',
                   'Peru' : 'Perú',
                   'Qatar': 'Catar',
                   'United States' : 'Estados Unidos'
                  }

In [29]:
df_datos_historicos['home'] = df_datos_historicos['home'].replace(nombres_equipos)

In [30]:
df_datos_historicos['home'].unique()

array(['Venezuela', 'Brasil', 'Argentina', 'Chile', 'Bolívia', 'Perú',
       'Colombia', 'Ecuador', 'Paraguay', 'Uruguay', 'México',
       'Estados Unidos', 'Japón', 'Honduras', 'Costa Rica', 'Haiti',
       'Jamaica', 'Panamá', 'Catar'], dtype=object)

In [31]:
# Chequeo si a away le pasa lo mismo
df_datos_historicos['away'].unique()

array(['Brazil', 'Argentina', 'Venezuela', 'Peru', 'Chile', 'Bolivia',
       'Paraguay', 'Colombia', 'Ecuador', 'Uruguay', 'United States',
       'Mexico', 'Costa Rica', 'Japan', 'Honduras', 'Haiti', 'Jamaica',
       'Panama', 'Qatar'], dtype=object)

In [32]:
# Reemplazo los nombres
df_datos_historicos['away'] = df_datos_historicos['away'].replace(nombres_equipos)

In [33]:
# Reviso si hay nulos
df_datos_historicos.isnull().sum()

home     0
score    0
away     0
year     0
dtype: int64

In [34]:
df_datos_historicos.duplicated().sum()

0

In [35]:
df_datos_historicos['score'].unique()

array(['0–4', '1–5', '2–1', '11–0', '6–0', '0–1', '1–1', '3–1', '4–0',
       '1–0', '2–2', '1–3', '2–0', '3–0', '0–2', '0–0', '7–0', '1–2',
       '0–0 (a.e.t.)', '5–0', '2–1 (a.e.t.)', '6–1', '3–3', '3–2', '4–2',
       '4–1', '0–3', '2–3', '1–4', '1–6', '0–2 (a.e.t.)', '1–1 (a.e.t.)',
       '7–1', '0–7', '0–5'], dtype=object)

In [40]:
# El score tiene un texto extra que tengo que sacarle y el guion es distinto 

# Hago una funcion para extraer solo el marcador
def extraer_marcador(score):
    # Reemplazar el guion 
    score = score.replace("–", "-")
    # Dividir la cadena en partes usando el espacio como delimitador
    partes = score.split(" ")
    # Seleccionar la primera parte
    marcador = partes[0]
    return marcador

In [41]:
df_datos_historicos['score'] = df_datos_historicos['score'].apply(extraer_marcador)

In [42]:
df_datos_historicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   home    371 non-null    object
 1   score   371 non-null    object
 2   away    371 non-null    object
 3   year    371 non-null    int32
dtypes: int32(1), object(3)
memory usage: 10.3+ KB

In [43]:

df_datos_historicos['score'].unique()

array(['0-4', '1-5', '2-1', '11-0', '6-0', '0-1', '1-1', '3-1', '4-0',
       '1-0', '2-2', '1-3', '2-0', '3-0', '0-2', '0-0', '7-0', '1-2',
       '5-0', '6-1', '3-3', '3-2', '4-2', '4-1', '0-3', '2-3', '1-4',
       '1-6', '7-1', '0-7', '0-5'], dtype=object)

## Merge Datos de resultados historicos de copa america y partidos jugados

In [44]:
df_unido = pd.concat([df_datos_recientes, df_datos_historicos], ignore_index=True)

In [45]:
df_unido

          home score           away  year
0    Argentina   3-0      Venezuela  2022
1       Brasil   2-0         Serbia  2022
2       Brasil   1-0          Suiza  2022
3      Camerún   1-0         Brasil  2022
4       Brasil   4-1  Corea del Sur  2022
..         ...   ...            ...   ...
649  Argentina   3-0        Ecuador  2021
650     Brasil   1-0           Perú  2021
651  Argentina   1-1       Colombia  2021
652   Colombia   3-2           Perú  2021
653  Argentina   1-0         Brasil  2021

[654 rows x 4 columns]

### Ahora que esta unido en uno solo voy a trabajar sobre la columna de resultados para sacar cuantos goles tiene convertido cada seleccion

> *Problema:* Score no es del tipo numerica y necesito cambiarla

##### Voy a eliminar el guion en medio del resultado y voy a crear dos columnas, gol de local y gol de visitante

In [46]:
# Dividir la columna en goles de equipo local y goles de equipo visitante

df_unido[['GolesLocal', 'GolesVisitante']] = df_unido['score'].str.split('-', expand=True)

In [47]:
df_unido['GolesVisitante'].unique()

array(['0', '1', '4', '3', '5', '2', '6', '7'], dtype=object)

In [48]:
# Drop la columna Score
df_unido.drop('score',axis=1, inplace=True)

In [49]:
df_unido

          home           away  year GolesLocal GolesVisitante
0    Argentina      Venezuela  2022          3              0
1       Brasil         Serbia  2022          2              0
2       Brasil          Suiza  2022          1              0
3      Camerún         Brasil  2022          1              0
4       Brasil  Corea del Sur  2022          4              1
..         ...            ...   ...        ...            ...
649  Argentina        Ecuador  2021          3              0
650     Brasil           Perú  2021          1              0
651  Argentina       Colombia  2021          1              1
652   Colombia           Perú  2021          3              2
653  Argentina         Brasil  2021          1              0

[654 rows x 5 columns]

In [50]:
# rename columnas
df_unido.rename(columns={'home' : 'EquipoLocal',
                                  'away': 'EquipoVisitante',
                                  'year': 'Año'}, inplace = True)

In [51]:
df_unido

    EquipoLocal EquipoVisitante   Año GolesLocal GolesVisitante
0     Argentina       Venezuela  2022          3              0
1        Brasil          Serbia  2022          2              0
2        Brasil           Suiza  2022          1              0
3       Camerún          Brasil  2022          1              0
4        Brasil   Corea del Sur  2022          4              1
..          ...             ...   ...        ...            ...
649   Argentina         Ecuador  2021          3              0
650      Brasil            Perú  2021          1              0
651   Argentina        Colombia  2021          1              1
652    Colombia            Perú  2021          3              2
653   Argentina          Brasil  2021          1              0

[654 rows x 5 columns]

In [52]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EquipoLocal      654 non-null    object
 1   EquipoVisitante  654 non-null    object
 2   Año              654 non-null    int64
 3   GolesLocal       654 non-null    object
 4   GolesVisitante   654 non-null    object
dtypes: int64(1), object(4)
memory usage: 25.7+ KB

In [53]:
# Cambiar los goles a tipo integer

df_unido=df_unido.astype({'GolesLocal': int, 'GolesVisitante' : int, 'Año' : int})

In [54]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EquipoLocal      654 non-null    object
 1   EquipoVisitante  654 non-null    object
 2   Año              654 non-null    int32
 3   GolesLocal       654 non-null    int32
 4   GolesVisitante   654 non-null    int32
dtypes: int32(3), object(2)
memory usage: 18.0+ KB

In [55]:
# Goles totales
df_unido ['GolesTotales'] = df_unido['GolesLocal'] + df_unido['GolesVisitante']

In [56]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EquipoLocal      654 non-null    object
 1   EquipoVisitante  654 non-null    object
 2   Año              654 non-null    int32
 3   GolesLocal       654 non-null    int32
 4   GolesVisitante   654 non-null    int32
 5   GolesTotales     654 non-null    int32
dtypes: int32(4), object(2)
memory usage: 20.6+ KB

### Exportar data frame

In [57]:
df_unido.to_csv('copa_america_resultados_data_limpia.csv', index=False)

In [58]:
df_fixture.to_csv('copa_america2024_fixture_limpio.csv', index=False)

### Chequeo interno si el numero de partidos coincide con el que dice internet que jugaron

In [59]:
# Ediciones anteriores de copa america

years = [1975, 1979, 1983, 1987, 1993, 1995, 1997, 1999, 2001, 2004, 2007,
       2011, 2015, 2016, 2019, 2021]

In [60]:
for year in years:
    print(year, len(df_datos_historicos[df_datos_historicos['year'] == year]))

1975 25
1979 25
1983 24
1987 13
1993 26
1995 26
1997 26
1999 26
2001 26
2004 26
2007 26
2011 8
2015 8
2016 32
2019 26
2021 28

In [61]:
# coincide con la informcaion de wikipedia